body {
  margin: 0;
}

.text-warp {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.custom-form .ant-form-item .ant-form-item-label>label::after {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
  visibility: visible;
}

.custom-form .ant-form-item .ant-form-item-label>label::before {
  display: none !important;
}

.ant-form-item {
  margin-bottom: 12px !important;
}

.spinner {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  height: 100vh;
  border-radius: 4px;
}
